@import "../components/datetimepicker.scss";
@import "../components/multiselect.scss";
@import "../common/variables.scss";

.activity {
	
	.page-header { 
		margin-top: 0; 
		text-align: center; 
	}

	h3 {
	   margin-top: 0; 
	}

 	.row { 
 		padding-bottom: 5px; 
 		.form-tip { 
 			color: $FONTCOLOR; 
 		}
 		.form-label { 
 			text-align: right; 
 			min-height: 34px; 
 			line-height: 34px; 
 		}
 	}
 
 	.groupInput {
 		.dropdown { 
 			width: 100%; 
 			.dropdown-toggle { 
 				width: 100%; 
 			}
 			.dropdown-menu { 
 				width: 100%; 
 			}
 			.caret { 
 				float: right;
 				margin-top: 8px; 
 			}
 			.dropdown-toggle .btn-value { 
 				padding-right: 15px; 
 				padding-left: 15px; 
 			}
 			.dropdown-menu { 
 				min-width: 72px;
 			}
 		}
 	}
 	.table {
 		td, th {
 			text-align: center; 
 		}
 		.icon-delete { 
 			padding-left: 20px; 
 		}
 	} 
 
 	.reply { 
 		padding-left: 0; 
 		input { 
 			display: inline-block; 
 		}
 	}
 
 	.form-tem { 
 		padding: 15px 0; 
 	}
}